
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400..700&display=swap');

p {
  font-size: 20px;
}

.stix {
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
