{% extends "base.html" %}

{% block title %}Register Page{% endblock %}

{% block content %}
<h1>Register</h1>
<p>Please fill in the form below to create a new account.</p>
<h1 id="response" ></h1>
{% if not current_user.is_authenticated %}
    <form id="registerform">
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" >
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" >
    </div>
    <button type="submit" id="submit" class="btn btn-info">Register</button>
</form>
<p>If you already have an account, you can <a href="{{ url_for('Login') }}">log in here</a>.</p>

{% else %}
    <p>You are already registered and logged in as {{ current_user.username }}.</p>
    <p>If you want to register a new account, please log out first.</p>
{% endif %}


{% endblock %}
